.first__album {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 0px 0px;
}
.first__album img {
  margin-top: 5px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 1px 10px 5px #d6c69a;
}
.first__album-name {
  margin: 5px 0;
  line-height: 1.7;
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: 80;
}

h3 {
  font-weight: 200px;
  opacity: 0.7;
}
.first__option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.shuffle {
  border-radius: 20px;
  padding: 19px 40px;
  background-color: var(--main-color);
  color: black;
}
.like {
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0px 0px 4px rgb(221, 220, 220, 0.5);
}

.first__song-list {
  margin: 20px 10px;
}
.first__song-data img {
  width: 60px;
  height: 60px;
  border-radius: 25%;
}

.first__song-list-each {
  padding: 15px;
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
}

.first__song-data {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.first__song-data img,
.first__song-data span {
  margin-right: 10px;
}

h2 {
  opacity: 0.5;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 20px;
}
