.first__song-list-each:nth-child(4) {
  border-radius: 20px;
  background-color: rgb(24, 24, 24);
  box-shadow: 0px 0px 5px rgb(221, 220, 220, 0.5);
}
.first__song-list-option {
  display: flex;
  align-items: center;
}

.hotbox {
  position: relative;
  top: 25px;
  left: +45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 25px;
}
.hotbox__data {
  margin-left: 20px;
  color: black;
}

.hotbox__icons i {
  font-size: 20px;
  margin-right: 15px;
  padding: 10px;
  color: black;
}
